/* You can add global styles to this file, and also import other style files */

.cardShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body {
  background: #eee;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

label, .col-form-label, p  {
  color: #343a40!important;
}
fieldset {
  margin-bottom: 0px!important;
}
.navbar{
  padding: 1rem 1rem;
}
.exportButton {
  float: right;
}
.userAlertContainer{
  margin-top: 0px
}
@media(max-width: 960px){
  .userAlertContainer{
    margin-top: 10px
  }
}
@media(max-width: 350px){
  .exportButton {
    margin-top: 10px;
    float: none;
  }
}
